
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto:wght@100&family=Special+Elite&display=swap');

* {box-sizing: border-box;}

/*HEADER*/

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 5px 5px;
  }

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
  }   
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    color: rgb(52, 99, 146);

  }

  .header-right {
    float: right;
  }

  /*PIC*/
  #my-picture{
    height: 240px;
    width: 240px;
    margin-top: 30px;
    border: none;
  }


body{
  font-family: 'Courier Prime', monospace;
}

.year{
  color:gray;
}

#links:hover{
  background-color:black;
  color: white;
}

/*HOW DO I CENTER THIS THING*/
section{
  border: 10px gray;
  height: 120vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container{

  max-width: 800px;
  margin: auto;
  height: 120vh;
}


/* for portfolio cards */
img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}


.card {
	background: white;
	margin-bottom: 2em;	
  border: solid 1px black;
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

.card-content p {
	font-size: 80%;
}

/* Flexbox stuff */

.cards {
    display: flex;
    flex-wrap: wrap;
 }

.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}

@media screen and (min-width: 40em) {
    .card {
       max-width: calc(50% -  1em);
    }
}

@media screen and (min-width: 60em) {
    .card {
        max-width: calc(25% - 1em);
    }
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}

.card-content h2{
  font-size: 16px;
}